/gitmine-ear/nbproject/private/
/gitmine-ear/gitmine-ear-war/nbproject/private/
/gitmine-ear/gitmine-ear-ejb/nbproject/private/
/gitmine-ejb/nbproject/private/
/gitmine-war/nbproject/private/
/gitmine-ejb/dist/
/gitmine-ejb/build/
/gitmine-war/build/
/gitmine-war/dist/